@page
@model AboutMe.Pages.AboutMeModel
@{
    ViewData["Title"] = "AboutMe";
}

<div class="PageBody">
    <div class="Title">About Me</div>
    <div class="text">
        <div class="subtext">

            <div class="Cap"><img class="responsive-img" src="~/images/Cap.png" /></div>

            <div class="student">
                As a student I am currently studying
                IT at Missouri State University in
                Springfield, MO where I will graduate
                with my bachelors May 2020.
            </div>

            <div class="Intern">
                As an intern I have been working on this website
                and helping bring current intranet forms from
                classic ASP to ASP .Net Core.
            </div>

            <div class="Computer"><img class="responsive-img" src="~/images/Computer.png" /></div>

            <div class="Skyline"><img class="responsive-img " src="~/images/Skyline.png" /></div>

            <div class="Person">
                As an person I am currently excited
                about what my future holds. I'm moving
                to NYC in May. Where I hope to start my career.
                I enjoy back end, front end, and UI/UX development.
            </div>

        </div>
    </div>
</div>

