@page
@model IndexModel
@{
    
}

    <div class="PageBody wood">
        <div class="ZaneCenter">

            <div class="Zane">
            I'm Zane,
            </div>

            <div class="Zsubtext">
                I'm a student and a Custom Application Solutions intern at BKD.
            </div>

        </div>
    </div>

