@page
@model AboutMe.Pages.ResumeModel
@{
    ViewData["Title"] = "Resume";
}

    
        <div class="sr">
            <div class="Title">Resume</div>
            <div class="otext">
                <div class="objective">
                    <p class="Rsubtext obj">Objective</p>
                    <p class="indent">I am a hardworking college student that is good with teams, a fast learner, and I have a good background in customer service. I am hoping to find and entry level postion after getting my degree in IT.</p>
                </div>
                <div class="experience">
                    <p class="Rsubtext exp">Experience</p>
                    <div class="indent">
                        <a><strong>Information Technology Intern</strong></a>
                        <a style="float: right">January 2020-Present</a>
                        <p style="font-style: italic">BKD</p>
                        <ul>
                            <li>ASP .Net Core</li>
                            <li>SQL</li>
                            <li>C#</li>
                        </ul>
                    </div>
                </div>
                <div class="education">
                    <p class="Rsubtext edu">Education</p>
                    <div class="indent">
                        <a><strong>Missouri State University</strong></a>
                        <a style="float: right">August 2015-Present</a>
                        <p style="font-style: italic">Springield, MO</p>
                        <p>Information Technology (Expected Graduation May 2020)</p>
                        <p style="padding-left: 2em">Relevant Coursework: Computer Hardware, Intro to Java, Advanced Databases (Oracle), Intro to C#</p>
                        <p>Psychology (Graduated May 2018)</p>
                    </div>
                </div>
            </div>
        </div>
