@page
@model AboutMe.Pages.SkillsModel
@{
    ViewData["Title"] = "Skills";
}


    <div class="sr">
        <div class="Title">Skills</div>
        <div class="stext">

            <div class="front-end">
                <p class="card-title">Front End</p>
                <div class="card-text">
                    <p class="htmltext">HTML</p>
                    <p>CSS</p>
                </div>
            </div>

            <div class="personal">
                <p class="card-title">Personal</p>
                <div class="card-text">
                    <p>I enjoy things that are:</p>
                    <p>Clean.</p>
                    <p>Minimalistic.</p>
                    <p>I'm constantly learning more and always looking to improve upon my skills.</p>
                </div>
            </div>

            <div class="back-end">
                <p class="card-title">Back End</p>
                <div class="card-text">
                    <p>C#</p>
                    <p>Asp .Net Core</p>
                </div>
            </div>

        </div>
    </div>